* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.full-screen-canvas {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #686868;
}


.drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #fff;
  width: 20vw;
  max-width: 250px;
  transition: transform 333ms ease-in-out;
}

.drawer--left {
  left: 0;
  transform: translateX(-100%);
}

.drawer--right {
  right: 0;
  transform: translateX(100%);
}

.drawer--open {
  transform: translateX(0%);
}

.drawer__toggle {
  position: absolute;
  top: 10px;
  width: 50px;
  height: 50px;
}

.drawer--left .drawer__toggle {
  right: -50px;
}

.drawer--right .drawer__toggle {
  left: -50px;
}